@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Open+Sans:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Open+Sans:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Barlow+Semi+Condensed:wght@100&family=Inter&family=Inter+Tight:wght@500&family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background;
    @apply font-marcellus;
  }
  section {
    @apply max-w-7xl;
    @apply mx-auto;
    @apply px-4;
    @apply sm:px-6;
    @apply lg:px-8;
  }

  h1 {
    @apply text-4xl;
    @apply font-marcellus;
    /* @apply text-gray-900; */
    @apply sm:text-3xl;
    @apply lg:text-5xl;
  }

  h2 {
    @apply text-3xl;
    @apply font-medium;
    @apply font-rubik;
    @apply text-left;
  }

  h5 {
    @apply text-base;
    @apply font-medium;
  }

  h6 {
    @apply text-xl;
    @apply font-normal;
    @apply text-left;
    @apply text-secondary;
    @apply font-rubik;
  }

  p {
    @apply text-base;
    @apply text-left;
    @apply font-normal;
    /* @apply font-semibold; */
    @apply text-xl
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}